.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.banner-image {
  display: block;
  width: 100%;
  height: auto;
}

.whyHead {
  padding-top: 40px;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 3rem;
}

.whyPara {
  padding-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .column {
    flex: none;
    width: 100%;
    margin: 0;
  }
}
